<h2>course of the battle</h2>
<form action="/arena/fight" method="POST">
    {{> warrior-select select-name="Warrior1"}}
    {{> warrior-select select-name="Warrior2"}}
    <br>
    <button type="submit">Begin Your Fight for Death!</button>
</form>